body{
	background: url("../images/DashBoard/Background.png");
	background-size : 100% 100%;
}


#title_left4{
	left : 25px;
	width: 150px;
	position: absolute;
}

#title_right4{
}

#time4{
	position: absolute;
	top: 85px;
	right: 25px;	
	font-size : 15px;
	color: white;
} 
#date4{
	position: absolute;
	top: 85px;
	right: 125px;	
	font-size : 15px;
	color: white;
} 

#hr4{
	margin-top: 50px;
	z-index: 99;
	width: 95%;
	border: 2px solid white;
}

#mainTable4{
	width: 90%;
	top: 270px;
	z-index: 99;
	
	 background: linear-gradient(white, gray); /* Standard syntax */
  opacity : 0.7;
}

#mainTable4 tr:last-child td:first-child {
    -moz-border-radius-bottomleft:10px;
    -webkit-border-bottom-left-radius:10px;
    border-bottom-left-radius:10px;
    
    -moz-border-radius-topleft:10px;
    -webkit-border-top-left-radius:10px;
    border-top-left-radius:10px
}

#mainTable4 tr:last-child td:last-child {
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-right-radius:10px;
    
    -moz-border-radius-topright:10px;
    -webkit-border-top-right-radius:10px;
    border-top-right-radius:10px
}

.tr{
	font-size: 30px; font-weight: bold; padding: 50px;
}
#title4{
	font-size: 60px;
	font-weight: bolder;
	color : white;
}